                    </div> 
                        <!--<div class="art-layout-cell art-sidebar1">    
                        </div>-->
                    </div>
                </div>
                <div class="cleared"></div><div class="art-footer">
                    <div class="art-footer-inner">
                        <div class="social" style="float:left">
			<a href="http://facebook.com/groups/wosckidscollege">
			<img src="/template/rwd2012/images/fb.png" height=40px width=40px/></a>
			<a href="https://plus.google.com/107498288211335221549" rel="publisher">
			<img src="/template/rwd2012/images/gp.png" height=40px width=40px/></a>
			</div>
                        <a href="#" class="art-rss-tag-icon" title="RSS"></a>
                        <div class="art-footer-text">
                            <p>&nbsp; <a href="http://www.wosc.edu">WOSC.EDU Website</a></p>
                        </div>
                    </div>
                    <div class="art-footer-background"></div>
                </div>
        		<div class="cleared"></div>
            </div>
        </div>
        <div class="cleared"></div>
        <p class="art-page-footer"></p>
    </div>
    
</body>
</html>
